body {
    margin: 0;
    padding: 0;
    background-color: #87CEFA;
    color: black; 
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .user-profile {
    position: absolute;
    top: 30%; /* Adjusted the top position to move it up */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
  }
  
  .user-profile input {
    padding: 10px;
    width: 200px;
    border: 2px solid #4682B4; 
    border-radius: 5px;
    font-size: 16px;
  }
  
  .user-profile button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4682B4;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .user-profile button:hover {
    background-color: #357ABD;
  }
  